.Chat {
    /* background-color: #82cdcd; */
    background-image: url("https://i.pinimg.com/originals/e8/d9/4e/e8d94e1e8b6b530ad315e9385290141b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 75%;
    position: relative;
}

.chat_header {
    background-color: #202826;
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.chat_header > .chat_header-avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.chat_name {
    margin-left: 20px;
}

.phone{
    position: absolute;
    right: 120px;
}

.video{
    position: absolute;
    right: 80px;
}

.search{
    position: absolute;
    right: 40px;
}




.chat_body {
    /* Since the height of chat_header is 10%, we gave the height of chat_body to be the reamining 90% */
    /* We gave the height of chat_body to be 82%, because there is also chat footer which will be present
    at the bottom and we want a space for that. */
    height: 82%;
    /* width: 100%; */
    padding: 0px 25px;
}

.chat_footer
{
    /* The height is 8%, because of of 100%, 10% has been allocated to chat_header and 82% has been allocated to 
    chat_body and hence the remaining 8% has been allocated to chat_footer */
    height: 8%;
    width: 100%;
    background-color: #202826;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
}


form {
    display: flex;
    width: 75%;
    padding: 5px;
}

input
{   
    width: 100%;  
    border: none;
    outline: 0;
    padding: 5px;
    border-bottom: 1px solid green; 
    background-color: #202826;
    color: white;
}

.chat_message {
    margin-top: 10px;
    width: fit-content;
    background-color: #293b37;
    color: white;
    padding: 10px;
    border-radius: 10%;
    position: relative;
    padding-right: 60px;
    max-width: 40%;
}

.chat_message> span{
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.chat_sent {
    margin-left: auto;
    background-color: #0C8484;
}
