*{
  margin : 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.App {
  background-color: #e4edd9;
  background-image: url("https://i.pinimg.com/originals/f9/64/c4/f964c45aa517729ff2a5285c4bc8e964.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_container {
  
  opacity: 0.95;
  display: flex;

  width: 90%;
  height: 90vh;
  background-color: #d5e6e6;

  /* The below code for box-shadow is directly taken from W3 schools website */
  box-shadow: 5px 10px 12px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

img{
  width: 75%;
  height: 100%;
}